---
interface Props {
  class?: string;
  fill?: string;
  flip?: boolean;
  height?: string;
}

const {
  class: className = '',
  fill = '#FFFFFF',
  flip = false,
  height = 'h-12 md:h-16',
} = Astro.props;
---

<div class:list={['w-full overflow-hidden leading-none', height, className]} aria-hidden="true">
  <svg
    class:list={['w-full h-full', flip && 'rotate-180']}
    viewBox="0 0 1440 80"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0,40 C240,80 480,0 720,40 C960,80 1200,0 1440,40 L1440,80 L0,80 Z"
      fill={fill}
    />
  </svg>
</div>
